.c-light-gray {
    background: lightgray;
}

.sentiment-bar {
    height: 3px;
    background-color: #81b622;
}

.negative-bar {
    background-color: #ff033e;
}

.neutral-bar {
    background-color: #fede00;
}

.button-show-more {
    border: none;
    background: none;
    font-weight: bold;
    color: #5e5e5e;
}

.button-show-more:hover {
    color: #444444;
    text-decoration: underline;
}